<div class="container">
    <h3>Revise los datos para confirmar</h3>

    <ul>
        <li><strong>Paciente:</strong>{{ datosTurno.pacienteId }}</li>
        <li><strong>Especialidad:</strong>{{ datosTurno.especialidadId }}</li>
        <li><strong>Profecional:</strong>{{ datosTurno.profecionalId }}</li>
        <li><strong>Fecha:</strong>{{ datosTurno.fecha }}</li>
        <li><strong>Hora:</strong>{{ datosTurno.hora }}</li>
    </ul>
    <p>Si los datos son correctos, presione "Confirmar"</p>
</div>