<div>
    <app-lista-turnos></app-lista-turnos>
</div>
<!--
<div class="contenedor">
    <header class="navbar">
        <h1>Ejercicios del Práctico</h1>
        <nav class="menu">
            <button >
                Inicio
            </button>
            <button [class.activo]="ejercicioActivo === 1" (click)="seleccionarEjercicio(1)">
                Ejercicio 1: Modal
            </button>
            <button [class.activo]="ejercicioActivo === 2" (click)="seleccionarEjercicio(2)">
                Ejercicio 2: Tarjetas
            </button>
            <button [class.activo]="ejercicioActivo === 3" (click)="seleccionarEjercicio(3)">
                Ejercicio 3: Wizard
            </button>
            <button [class.activo]="ejercicioActivo === 4" (click)="seleccionarEjercicio(4)">
                Ejercicio 4: Panel
            </button>
        </nav>
    </header>

    <main class="contenido-container">
        <ng-container *ngIf="ejercicioActivo === 1">
            <app-turno></app-turno>
            <app-paciente></app-paciente>
            <app-sesion></app-sesion>
        </ng-container>
        <app-agenda-dia *ngIf="ejercicioActivo === 2"></app-agenda-dia>
        <app-alta-turnos *ngIf="ejercicioActivo === 3"></app-alta-turnos>
        <app-ficha-paciente *ngIf="ejercicioActivo === 4"></app-ficha-paciente>
    </main>
</div>
-->