<div class="container">
    <label for="especialidad">Especialidad:</label>
    <select name="especialidad" id="especialidad" (change)="seleccionarEspecialidad($event)">
        <option value="">-- Seleccione la Especialidad --</option>
        <option value=""></option>
    </select>

    <label for="profecional">Profecional:</label>
    <select name="profecional" id="profecional" (change)="seleccionarProfecional($event)">
        <option value="">-- Seleccione al Profecional --</option>
        <option value=""></option>
    </select>
</div>